h1 {
    color:rgb(247, 12, 255) ;
}
body {
    background-image: url("https://i.pinimg.com/originals/cb/59/e1/cb59e1a7bc188a8c1aacd2ea05622777.gif");
    animation: 1s infinite;
  }
p {color: aqua;
  font-size: 25px;
}
a{color: aqua;}
a {
  text-decoration: none;
}
h2{color: rgb(255, 0, 179);
  font-size: 25px;
}
ul{color: rgb(255, 18, 235);
  font-size: 25px;
}
ol{color: rgb(255, 18, 235);
  font-size: 25px;
}